body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #FBB;
}

.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.pigTile:hover {
  transform: scale(1.05);
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pigTile {
  position: relative; /* Ensure relative positioning */
  display: inline-block; /* Ensure inline-block to place the popup beside the tile */
  background-repeat: no-repeat;
  background-position: center 90%;
  margin: 10px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
}

.popup {
  position: absolute;
  top: 0;
  left: calc(100% + 10px); /* Position the popup right beside the tile */
  transform: translateY(-50%);
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
}

.popup.active {
  left: 0; 
}

.pigTile img {
  width: 100%; /* Ensures the image takes up the full width of its container */
  height: 100%; /* Ensures the image takes up the full height of its container */
  object-fit: cover; /* Scales the image to be as large as possible while ensuring its aspect ratio is maintained and it covers the entire container */
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buttonContainer button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonContainer button:hover {
  background-color: #45a049;
}

.buttonContainer button:last-child {
  margin-bottom: 0;
}